@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;1,700&family=Montserrat:wght@300;400;500;600;700&display=swap');
div{
    font-size: 90px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
